.canvas-modal{
/* background-color: rgb(137, 174, 255);
  color: black; */
  backdrop-filter: none;
}
/* *{
    background: rgb(1, 5, 53);
    color: white;
}
.canvas-header{
    background-color: rgb(137, 174, 255);
} */