.AU_section5_mainContainer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.AU_section5_TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AU_section5_TextContainer-Text1 {
  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(18, 115, 235);
}
.AU_section5_TextContainer-Text2 {
  margin-top: 0px;
  font-family: "Poppins", "sans-serif";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(28, 27, 27);
}
.AU_section5_gridContainer {
  /* background-color: rgb(137, 125, 125); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* grid-auto-rows: 755px; */
  margin-top: 50px;
  width: 80%;
  /* margin-left: 180px; */
  gap: 20px;
}
.AU_section5_gridContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AU_section5_gridContainerDiv-img {
  width: 250px;
  height: 350px;
  /* background: red; */
  border-radius: 60%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}

.AU_section5_gridContainerDiv-textDiv {
    margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AU_section5_gridContainerDiv-text1 {
  font-family: "Poppins", "sans-serif";
  font-size: 20px;
  font-weight: 600;
  color: rgb(16, 16, 16);
}
.AU_section5_gridContainerDiv-text2 {
  margin-top: 6px;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  color: rgb(85, 85, 85);
}


@media screen and (max-width: 450px){
  .AU_section5_TextContainer-Text2{
    font-size: 24px;
  }
}