* {
  font-family: "Roboto", "sans-serif";
}
.Assignment_s2-mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Assignment_s2-gridContainer {
  /* background-color: rgb(177, 130, 130); */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: 90% 40%; */
  /* grid-auto-rows: 755px; */
  /* margin-top: 90px; */
  /* width: 70%; */
  /* margin-left: 240px; */
  /* gap: 20px; */
  margin-top: 90px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.Assignment_s2-gridDiv1 {
  /* background-color: rgb(114, 178, 87); */
  /* width: 75%; */
  width: 60%;
}
.Assignment_s2-gridDiv2 {
  /* background-color: rgb(39, 64, 85); */
  /* width: 80%;
    margin-left: -210px; */
  margin-left: 10%;
  width: 30%;
}
.Assignment_s2-gridDiv1-img {
  width: 100%;
}
.Assignment_s2-gridDiv1-Head {
  margin-top: 30px;
  font-family: "Roboto", "sans-serif";
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(110, 193, 228);
}
.Assignment_s2-gridDiv1-Text {
  margin-top: 20px;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: justify;
  /* letter-spacing: 1px; */
  /* margin-bottom: 40px; */
}
.Assignment_s2-gridDiv1-Head2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(110, 193, 228);
  margin-top: 30px;
}
.Assignment_s2-gridDiv1-listDiv {
}
.Assignment_s2-gridDiv1-listDiv-listItem {
  display: flex;
  margin-top: 20px;
  align-items: center;
  /* justify-content: center; */
}
.SOP-tick-svg {
  font-size: 26px;
  color: #1273eb;
  margin-left: 10px;
  margin-right: 17px;
  margin-bottom: 3px;
}
.Assignment_s2-gridDiv1-head-Text {
  margin-top: 20px;
  margin-bottom: -10px;
  font-weight: bold;
}

/* DIV 2 */
.Assignment_s2-gridDiv2{
  /* background-color: antiquewhite; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  margin-left: 5px;
}
.Assignment_s2-gridDiv2-mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background-color: #f0f5ff;
  border-radius: 7px;
}
.Assignment_s2-gridDiv2-mainContainer-headContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}
.Assignment_s2-gridDiv2-mainContainer-head {
  font-family: "Roboto", "sans-serif";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(28, 27, 27);
  margin-bottom: 30px;
}
.Assignment_s2-gridDiv2-mainContainer-Text {

  margin-top: 15px;
  width: 80%;
  text-align: justify;
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(122, 122, 122);
}
.Assignment_s2-gridDiv2-mainContainer-button {
  margin-top: 35px;
  border: 3px solid #1173eb;
  background-color: black;
  border-radius: 7px;
  /* width: 80%; */
  height: 80px;
  color: white;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.Assignment_s2-gridDiv2-mainContainer-button:hover {
  background-color: #1173eb;
  transition: 0.5s ease-in-out;
}

.Assignment_s2-gridDiv2-mainContainer-mainButton {
  width: 94%;
  height: 60px;
  margin-top: 20px;
  background-color: #1173eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.arrow-symbol-LOR {
  /* color: white; */
  color: black;
  margin-left: 17px;
  margin-bottom: 2px;
}
.arrow-symbol-LOR2 {
  color: rgb(0, 0, 0);
  margin-left: 17px;
  margin-bottom: 2px;
}
.Assignment_s2-gridDiv2-mainContainer-mainButton2 {
  width: 94%;
  height: 60px;
  margin-top: 18px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  color: rgb(0, 0, 0);
  border: 1px solid #d3e1fb;
  border-radius: 6px;
  cursor: pointer;
}
.Assignment_s2-gridDiv2-mainContainer-mainButton2:hover {
  background-color: #1173eb;
  color: white;
  transition: 0.5s ease-in-out;
}
.Assignment_s2-gridDiv2-mainContainer-mainButton2 > .arrow-symbol-LOR2:hover {
  color: white;
}
.Assignment_s2-gridDiv2-mainContainer-mainDiv2 {
  /* background-color: #d3e1fb; */
  border: 5px solid #1173eb;
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* .Assignment_s2-gridDiv2-mainContainer-mainDiv2-imgDiv{
    margin-top: 40px;
    width: 100%;
    border: 1px solid red;
    height: 320px;
    position: relative;
} */
/* .Assignment_s2-gridDiv2-mainContainer-mainDiv2-img{
    width: 100%;
    object-fit: cover;
    height: 320px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
/* .Assignment_s2-gridDiv2-mainContainer-mainDiv2-callIconDiv{
    position: absolute;
    z-index: 8;
    background-color: white;
    margin-left: 140px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    margin-top: 30px;
    -webkit-box-shadow: -1px 0px 21px -3px rgba(245,245,245,1);
    -moz-box-shadow: -1px 0px 21px -3px rgba(245,245,245,1);
    box-shadow: -1px 0px 21px -3px rgba(245,245,245,1);
} */
.LOR-callIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  font-size: 48px;
  margin-top: 17px;
  /* margin-left: 12px; */
  /* background-color: gray; */
  -webkit-box-shadow: 1px 1px 22px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 22px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 22px -8px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.Assignment_s2-gridDiv2-mainContainer-mainDiv2-Text {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(0, 0, 0);
  /* position: absolute; */
  margin-top: 20px;
  /* width: 80%; */
  text-align: center;
  /* margin-left: 30px; */
}
.Assignment_s2-gridDiv2-mainContainer-mainDiv2-Text2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(0, 0, 0);
  /* position: absolute; */
  margin-top: 30px;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  /* margin-left: 30px; */
}

/* RESPONSIVE */
@media screen and (max-width: 1115px) {
  .Assignment_s2-gridContainer {
    flex-direction: column;
  }
  .Assignment_s2-gridDiv1 {
    width: 100%;
  }
  .Assignment_s2-gridDiv2 {
    width: 100%;
    margin-top: 40px;
    /* margin-left: 10px; */
  }
  
  .Assignment_s2-gridDiv2-mainContainer-head {
    text-align: center;
    font-size: 40px;
  }
  .Assignment_s2-gridDiv2-mainContainer-Text {
    text-align: center;
    font-size: 17px;
    /* margin-left: 70px; */
  }
  .Assignment_s2-gridDiv2-mainContainer-button {
    /* margin-left: 120px; */
    margin-top: 60px;
  }
  .Assignment_s2-gridDiv2-mainContainer-button-span1 {
    font-size: 18px;
  }
  .SOP_s2-gridDiv2-mainContainer-button-span2 {
    font-size: 18px;
  }
  .Assignment_s2-gridDiv2-mainContainer-mainButton {
    font-size: 18px;
  }
  .Assignment_s2-gridDiv2-mainContainer-mainButton2 {
    font-size: 18px;
  }
  /* .Assignment_s2-gridDiv2-mainContainer-mainDiv2-img {
    height: 250px;
  } */
  .Assignment_s2-gridDiv2-mainContainer-mainDiv2-Text {
    /* width: 30%; */
    /* background-color: red; */
    /* margin-left: 270px; */
  }
  /* .Assignment_s2-gridDiv2-mainContainer-mainDiv2-Text2 {
    margin-top: 210px;
    margin-left: 70px;
  } */
}


@media screen and (max-width: 585px){

  .Assignment_s2-gridDiv2-mainContainer-head{
    font-size: 2rem;
  }
  .Assignment_s2-gridDiv2-mainContainer-Text{
    font-size: 1.1rem;
  }
  .Assignment_s2-gridDiv2-mainContainer-button{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 390px){

  .Assignment_s2-gridDiv2-mainContainer-head{
    font-size: 1.5rem;
  }
  .Assignment_s2-gridDiv2-mainContainer-Text{
    font-size: 0.9rem;
  }
  .Assignment_s2-gridDiv2-mainContainer-button{
    font-size: 1rem;
  }
}