.payment3_mainDiv{
    background: rgb(198,108,229);
background: linear-gradient(234deg, rgba(198,108,229,1) 16%, rgba(13,75,174,1) 100%);
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
/* border: 1px solid red; */
}
.payment3_subDiv1{
    width: 70%;
    text-align: center;
    font-size: 2rem;
    color: white;
}
.payment3_img{
    /* width: 800px; */
}