.CU_section2_mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.CU_section2_gridContainer{
    /* background-color: rgb(177, 130, 130); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-auto-rows: 755px; */
    margin-top: 90px;
    width: 70%;
    gap: 20px;
}
.CU_section2_gridContainer-div{
    /* background-color: antiquewhite; */
}
.CU_section2_gridContainer-Text1{
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(18, 115, 235);
}
.CU_section2_gridContainer-Text2{
    font-family: 'Poppins', 'sans-serif';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(28, 27, 27);
    margin-top: 12px;
}
.CU_section2_gridContainer-Text3{
    margin-top: 15px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 17.2px;
    color: rgb(54, 54, 54);
}
.CU_section2_gridContainer-innerDiv{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.CU_section2_gridContainer-innerDiv-imgContainer{
    width: 55px;
    height: 55px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     */
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CU_section2_gridContainer-innerDiv-img{
    width: 45px;
    height: 45px;
}
.CU_section2_gridContainer-innerDiv-textContainer{
    margin-left: 20px;
}
.CU_section2-innerDiv-text1{
    font-family: 'Roboto','sans-serif';
    font-size: 18px;
    font-weight: 600;
    line-height: 30.6px;
    color: rgb(17, 17, 17);
}
.CU_section2-innerDiv-text2{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(54, 54, 54);
}

/* Section 2 */

.CU_section2_gridContainer-div2-innerContainer{
    width: 100%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* padding: 20px; */
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}
.CU_section2_gridContainer-div2-text1{
    /* position: absolute; */
    /* margin-top: 20px; */
    /* margin-left: 40px; */
    font-family: 'Poppins','sans-serif';
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(28, 27, 27);
}
.CU_section2_gridContainer-div2-text2{
    width: 80%;
    text-align: justify;
    /* position: absolute; */
    margin-top: 20px;
    /* margin-left: 40px; */
    font-family: 'Roboto','sans-serif';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(18, 115, 235);
}
.CU_section2_gridContainer-div2-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
.CU_section2_gridContainer-div2-button{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #6e47b6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins',sans-serif;
    line-height: 20px;
    font-weight: 500;
    border-radius: 10px;
}
.CU_section2_gridContainer-div2-button:hover{
    background-color: #6e47b6b7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: aliceblue;
    transition: 0.5s ease-in-out;
}

/* responsive */
@media screen and (max-width: 1175px){
    .CU_section2_gridContainer-div2{
        margin-top: 40px;
    }
}
@media screen and (max-width: 565px){
    .CU_section2_gridContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}